<h1>My bookings</h1>
<div class="row">
  <% @bookings.each do |booking| %>
    <div class="col col-md-3 ml-2 mr-2 mt-3 mb-3">
      <div class="card" id="card-bike">
        <img src="https://d1mo5ln9tjltxq.cloudfront.net/-/media/images/my23/bikes/road/endurance/synapse/tech-images/c23_synapsealloy_tech_0004.ashx?mh=2560&mw=1920&hash=C1DEADD7DE90FB022FDE5A6E51173ACE" class="card-img-top" alt="Bike image">
        <div class="card-body">
          <div class="d-flex justify-content-between mb-3">
            <div>
              <h5 class="card-title">Booking reference: #RAB24<%= booking.id %></h5>
              <p class="card-text"><%= @bike.location %></p>
              <p class="card-text">Pick up:<%= booking.start_date %></p>
              <p class="card-text">Drop off:<%= booking.end_date %></p>
            </div>
            <div>
              <p class="card-text"><%= @bike.category %></p>
            </div>
          </div>
          <div class="d-flex justify-content-between" id="div-links">
            <div>
            <%= link_to 'Amend', bike_path(@bike) %>
            </div>
            <div>
            <%= link_to 'Cancel', bike_path(@bike) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
