

<h5 class="card-title"> Book your bike: <%=  @bike.category %></h5>

<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="card p-2 m-2">
      <div class="card-body">
        <h5 class="card-title"><%= @bike.location %></h5>
        <p class="card-text">Price per Day: £<%= @bike.price_per_day %></p>
        <p class="card-text">Category: <%= @bike.category %></p>
        <p class="card-text">Condition: <%= @bike.condition %></p>
        <%= link_to 'View Details', bike_path(@bike) %>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="card p-2 m-2">
    <h5>Pick your dates!</h5>
      <%= simple_form_for [@bike, @booking] do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date%>
        <%= f.submit "Book", class: 'btn btn-flat btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
<p><%= link_to 'Back to all bikes', bikes_path %></p>
