<%= stylesheet_link_tag("bike_index")%>

<div class="row">
  <% @bikes.each do |bike| %>
    <div class="col col-md-4 mt-3 mb-3">
      <div class="card" id="card-bike">
        <% if bike.photos.attached? %>
          <%= cl_image_tag bike.photos.first.key, class:"card-img-top" %>
        <% else %>
          <img src="https://coloringonly.com/images/imgcolor/Free-Bicycle-coloring-page.jpg" class="card-img-top" alt="Bike image">
        <% end %>

        <div class="card-body">
          <div class="d-flex justify-content-between mb-3">
            <div>
              <h5 class="card-title"><%= bike.location %></h5>
              <p class="card-text"><%= bike.category %></p>
              <p class="card-text"><%= number_to_currency(bike.price_per_day, unit: "£") %> per day</p>
            </div>
            <div>
              <p class="card-text"><%= bike.condition %></p>
            </div>
          </div>

          <div class="d-flex justify-content-between" id="div-links">
            <div>
            <%= link_to 'Book', new_bike_booking_path(bike) %>
            </div>
            <div>
            <%= link_to 'View Details', bike_path(bike) %>
            </div>
          </div>

        </div>
      </div>

    </div>
  <% end %>
</div>
