<h1>bike page</h1>
<p>page to list all the bikes in your neighbhourhood</p>
<title>Bikes in Your Area</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>


</head>
<body>
  <h1>Bikes in Your Area</h1>

  <div id="bikes">
    <% @bikes.each do |bike| %>
      <div class="bike">
        <h2><%= bike.model %></h2>
        <p>Description: <%= bike.description %></p>
        <p>Price: <%= bike.price %></p>
        <p>Location: <%= bike.location %></p>
      </div>
    <% end %>
  </div>
</body>
</html>
